@mixin display() {
  display: flex;
  justify-content: center;
  align-items: center;
}

#appPlayer {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  @include display;
  background-image: url("../public/images/musicPlayer/danny-howe-bn-D2bCvpik-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .CardMusicPlayer {
    padding: 1%;
    @include display;
    flex-direction: column;

    justify-content: space-evenly;
    #musicController {
      width: 50%;
      @include display;
      justify-content: center;
      gap: 10px;
    }
  }
}
