body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% auto;

  #buttonOrder {
    width: 30vw;
    height: 10vh;
    border-radius: 8px;
    background-color: rgb(50, 1, 50);
    border: 2px solid rgb(186, 14, 186);
    color: rgb(245, 194, 245);
  }
}
